@using LuceneSearch.Data.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("/Scripts/jquery-1.8.2.min.js")
<h2>Index</h2>
@Html.ActionLink("添加", "Edit")
<br />
@ViewData["str"]
<form method="POST">
    <input type="text" name="key" />
    <input type="submit" value="提交" />
</form>
@{
    List<SampleData> list = (List<SampleData>)ViewData["result"] ?? new List<SampleData>();
    if (list.Count > 0)
    {
    <table>
        <thead>
            <tr>
                <th>Id:
                </th>
                <th>Name:</th>
                <th>Description:</th>
            </tr>
        </thead>
        @foreach (var data in list)
        {
            <tbody>
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Description</td>
                </tr>
            </tbody>
        }
    </table>
    }
}
@section scripts
{

}
